.topbarContainer {
  height: 50px;
  width: 100%;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEIpCS7NX748oS-nJnnj3PNuQRSfMgfSx7Nl7bvpixl9bWjX77E-U-NEHLaaOhLJqTTDQ&usqp=CAU");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.topbarRight {
  /* flex: 4; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink,
.linkTimeLine {
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  outline: none;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  color: white;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin: 5px 30px;
}
