.topbarContainer {
  height: 50px;
  width: 100%;
  background: url("https://media.istockphoto.com/photos/black-grey-wooden-plank-wall-texture-background-old-natural-pattern-picture-id1321288902?b=1&k=20&m=1321288902&s=170667a&w=0&h=JpmqzaVRY0z5Q20nSyteIx3rk9WUutTz5Kx4HeTjcGI=");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
}

.logo {
  font-size: 24px;
  margin-left: 65px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.topbarRight {
  /* flex: 4; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink,
.linkTimeLine {
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  outline: none;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  color: white;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin: 5px 30px;
}
.foodImg {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 15px;
  margin-top: -4px;
}
