.rightbar {
  flex: 1.5;
  /* background-color: palegoldenrod; */
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}
.rightbarRestList {
  margin-top: 60px;
  margin-left: 40px;
  list-style-type: none;
}
.rightbarTitle {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

.saveButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(232, 102, 9);
  font-weight: 500;
  margin: 20px;
  cursor: pointer;
  color: white;
}
.rightbarTitle {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}
.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}
