.addRestaurant {
  display: block;
  width: 100%;
  height: 100px;
  background-color: rgb(171, 160, 189);
}

.formBox {
  height: 500px;
  padding: 30px;
  background-color: rgb(166, 161, 207);
  background: url("../../assets/restt.jpg") no-repeat center center fixed;
  height: 100%;
  height: 80vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* justify-content: space-between; */
}

.loginImg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 10px;
  font-size: larger;
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.restaurantInput {
  width: 30%;
  border-radius: 10px;
  border: 1px solid gray;
  padding-left: 20px;
  margin: auto;
}

.saveButton {
  width: 30%;
  margin: auto;
  background-color: rgb(21, 142, 142);
}

.formBox input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: black;
}
