.restaurantCard {
  display: flex;
  justify-content: center;
  color: white;
  margin: 0.2rem 1.5rem;
  padding: 0.2rem 1rem;
}

.rightbarProfileImg {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border: solid 2px rgb(167, 167, 167);
  padding: 6px;
  border-style: outset;
  position: relative;
}

.restaurantName {
  color: black;
  text-align: center;
}

span.icon {
  top: 10px;
  right: 0;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

span.icon:hover {
  color: rgb(48, 85, 232);
}
.icon:active {
  transform: translateY(2px);
}

span.delete:hover {
  color: red;
}
