.restaurantCard {
  background-color: gray;
  display: flex;
  justify-content: center;

  color: white;
  margin: 0.2rem 1.5rem;
  padding: 0.2rem 1rem;
}

.rightbarProfileImg {
  width: 4rem;
  height: 4rem;
  /* border-radius: 50%; */
  object-fit: cover;
  border: solid 3px rgb(167, 167, 167);
  padding: 6px;
  border-style: outset;
  background-color: aliceblue;
  position: relative;
}
.restaurantName {
  color: black;
  text-align: center;
}

span.icon {
  /* position: absolute; */
  top: 10px;
  right: 0;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: black;
  font-size: 14px;
  cursor: pointer;
}
