.login-page {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: auto;
  height: 90vh;
}

.login_div {
  max-width: 25rem;
  height: 90vh;

  margin: auto;
}
.form_heading {
  text-align: center;
}

.login-input {
  font-size: 75%;
  outline: none;
  border: #dbdbdb 1px solid;
  border-radius: 3px;
  padding: 3%;
  padding-left: 3%;
  width: 75%;
  margin-left: 10%;
  margin-bottom: 2%;
  background-color: #fafafa;
  text-align: center;
}
.login-input::placeholder {
  color: #8e8e8e;
  text-align: center;
  font-family: "Roboto", sans-serif;
  /* font-weight: 600; */
  letter-spacing: 1px;
}
.input-div {
  margin-top: 5%;
}

.or-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.or-text span {
  background: #fff;
  padding: 0 10px;
}

#divide_form {
  margin: 8%;
  display: flex;
}
.lower_div {
  text-align: center;
  color: #385194;
  font-size: 95%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

.forgot_password {
  text-align: center;
  margin: 7%;
  font-size: 75%;
  color: #00376b;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.top_section {
  background-color: #ffffff;
  padding-top: 8%;
  border: #dbdbdb 1px solid;
}

.bottom_section {
  background-color: #ffffff;
  text-align: center;
  padding: 7%;
  border: #dbdbdb 1px solid;
  margin-top: 2%;
}
.bottom_section {
  color: #00376b;
  font-family: "Roboto", sans-serif;
  font-size: 85%;
  /* font-weight: 600; */
  letter-spacing: 1px;
}
.bottom_section span {
  color: #3fa5f7;
  font-weight: bolder;
  cursor: pointer;
}

.forgot_password {
  cursor: pointer;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  font-weight: bolder;
}

.login-btn {
  margin-top: 4%;
  padding: 2%;
  color: white;
  width: 82%;
  background-color: #56abe4;
  margin-left: 10%;
  margin-bottom: 1%;
  border: #ffffff 1px solid;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
.transform :active {
  transform: translateY(2px);
}
.foodbook-img {
  width: 45%;
}
.loading {
  margin: 6px;
}
.errMsg {
  color: red;
  font-size: smaller;
}
