.post {
  width: 90%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 66px -8px rgba(0, 0, 0, 0.98);
  box-shadow: 0px 0px 46px -8px rgba(0, 0, 0, 0.68);
  align-items: center;
  margin: auto;
  margin-top: 35px;
}
.postBottomRight {
  max-width: 15rem;
}
.posttime {
  font-size: 0.7rem;
}

.postWrapper {
  padding: 10px;
  background-color: rgb(243, 238, 238);
  border-radius: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 1rem;
  /* font-weight: 500; */
  margin: 0 10px;
}
.restaurantname {
  font-size: 1rem;
}
.postDate {
  font-size: 18px;
  line-break: auto;
}
.postInfo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  /* width: 100%; */
  object-fit: contain;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(138, 138, 138);
  width: 50%;
  height: 40%;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  margin-right: 5px;
  margin-left: 15px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 0.7rem;
}

.deleteIcon {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.postText {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}
.linkwithout {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 600px) {
}
.delete {
  cursor: pointer;
}

/* tags css */

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: rgb(222, 222, 222);
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 18px;
  line-height: 20px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  font-size: 10px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 7px;
}

.tag::after {
  background: rgb(222, 222, 222);
  border-bottom: 9px solid transparent;
  border-left: 10px solid #eee;
  border-top: 9px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.category:hover {
  background-color: crimson;
  color: white;
}

.category:hover::after {
  border-left-color: crimson;
}
.type:hover {
  background-color: rgb(20, 202, 68);
  color: white;
}

.type:hover::after {
  border-left-color: rgb(20, 202, 68);
}
