.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background: url("https://media.istockphoto.com/photos/black-grey-wooden-plank-wall-texture-background-old-natural-pattern-picture-id1321288902?b=1&k=20&m=1321288902&s=170667a&w=0&h=JpmqzaVRY0z5Q20nSyteIx3rk9WUutTz5Kx4HeTjcGI=");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-color: black; */
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.foodImg {
  position: absolute;
  width: 2.25rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 1.5px;
  margin-left: 12px;
}
.logo {
  font-size: 24px;
  margin-left: 65px;
  font-weight: bold;
  color: goldenrod;
  cursor: pointer;
}
.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.app__navbar-links li:hover {
  color: #545454;
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__navbar-login a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
  color: goldenrod;
  cursor: pointer;
}

.app__navbar-login a:hover {
  border-bottom: 1px solid goldenrod;
  cursor: pointer;
}

.app__navbar-login div {
  width: 1px;
  height: 30px;
  background: #545454;
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  transition: 0.5s ease;

  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: gold;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}
.flex__center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
}
.app__navbar-smallscreen_links {
  text-decoration: none;
  list-style: none;
  margin-top: 1.5rem;
}
.app__navbar-smallscreen_links li {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
}
.app__navbar-smallscreen_links li a {
  text-decoration: none;

  margin: 2rem;
  cursor: pointer;
  color: gold;
  font-size: 1.5rem;
  display: flex;
  margin-left: 40px;
}

.app__navbar-smallscreen_links li:hover {
  color: goldenrod;
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  /* .app__navbar {
    padding: 1rem;
  } */

  .app__navbar-login {
    display: none;
  }

  /* .app__navbar-logo img {
    width: 110px;
  } */
}
