.navbar-container {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    width: fit-content;
}

@media (min-width: 600px) {
    .navbar-container {
        padding: 20px;
    }

}