.rightbar {
  margin-top: 30px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  object-fit: cover;
  border: solid 3px rgb(167, 167, 167);
  padding: 6px;
  border-style: outset;
  background-color: aliceblue;
}

.rightbarOnline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid white;
}

.rightbarRestaurant {
  font-weight: 500;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.addBtn {
  padding: 10px 25px;
  margin-left: 170px;
  margin-top: 80px;
  font-weight: bold;
  font-size: larger;
}
.rest-div {
  display: flex;
}
