@import '../../constants/_styles.scss';

.grid-container {
  margin: auto;
}

.image-grid-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, calc(100%/3)));
  justify-content: center;
}

.image-grid {
  cursor: pointer;
  position: relative;
  display: block;
}

.image-grid-img {
  margin: 1px;
}

.image-grid-img img {
  width: 100%;
  vertical-align: top;
  height: 25vw;
  min-height: 120px;
  object-fit: cover;
}

.image-grid-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.image-grid:hover .image-grid-overlay {
  display: flex;
}

.image-grid-like,
.image-grid-comments {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}



@media screen and (max-width: $max-screen-size-tablet) {
  .image-grid-list {
    grid-gap: 2px;
  }

  .grid-container {
    width: 100%;
  }
}

.image-grid-item {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.image-grid-item:hover {
  z-index: 1;
  transform: scale(1.05);
}