// 320 < mobile < 450
$min-width-mobile: 320px;
$min-screen-size-tablet: 600px;
//450 < tablet < 900
$max-screen-size-tablet: 900px;
// 900 < laptop

$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 16px;
$border-radius-xl: 24px;
$border-radius-xxl: 32px;

$font-primary: "Montserrat", sans-serif;

$column-gap-s: 4px;