.homeContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: black;
  /* background: url("../../assets/gold2.jpg") no-repeat center center fixed; */
  height: 100%;
  /* height: 100vh; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menu-div {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 100;
}

.add-image-btn {
  margin-left: 2px;
  border-style: none;
  background-color: #e9ecef;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border: solid rgb(124, 124, 124) 1px;
  align-items: center;
}

.add-image-btn img {
  margin: 0 auto;
  /* centers the image horizontally within the button */
}