.slide-div {
  width: 70%;
  margin: auto;
}
.instagram {
  width: 2rem;
  cursor: pointer;
}

.shareOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.upload-image-div {
  display: flex;
  margin: auto;
  margin-bottom: 15px;
  justify-content: center;
}
.center-div {
  margin-top: 25px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}
.share {
  cursor: pointer;
}
