body {
  background-color: #d3d3d3;
  font-family: "Montserrat", sans-serif;
}
.transform :active {
  transform: translateY(2px);
}

.none {
  text-decoration: "none";
}

.logo {
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  /* background-color: #e9ecef;
  border-radius: 5px;
  border: solid rgb(124, 124, 124) 1px; */
  width: 12vw;
}

.logo:hover,
.add-image-btn:hover {
  background-color: #e9ecef;
  border-radius: 5px;
  border: solid rgb(124, 124, 124) 1px;
}
@media only screen and (max-width: 800px) {
  .logo {
    width: 26vw;
  }
  .loading {
    width: 260px;
  }
}

.image-page {
  margin-top: 50px;
}
.open-image {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.open-image img {
  height: 50%;
  width: 50%;
  text-align: right;
}
.cursor {
  cursor: pointer;
}

.postBottomPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
  justify-content: space-evenly;
}

/* loading-emoji */

.loading-emoji {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkedin,
.github {
  text-decoration: none;
}
.linkedin {
  color: blue;
}
.github {
  color: black;
}
.grayscaleText {
  filter: grayscale(100%);
}
.infoForm h1 {
  align-content: center;
  align-items: center;
  margin: auto;
}
.headline-post-img {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 25px;
}
.post-page-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}
.go-back-div {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}
.go-back-div:hover {
  color: rgb(48, 85, 232);
}
.menu-div-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  margin: auto;
  background-color: whitesmoke;
  justify-content: space-between;
}

.btn-downbar {
  margin: 3px 16px;
  cursor: pointer;
}

.profile-img-downbar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}
.black-link {
  color: black;
}

.save-logo {
  width: 46px;
}
