body {
  background-color: #d3d3d3;
  font-family: "Montserrat", sans-serif;
}
.transform :active {
  transform: translateY(2px);
}

.none {
  text-decoration: "none";
}

.logo {
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  /* background-color: #e9ecef;
  border-radius: 5px;
  border: solid rgb(124, 124, 124) 1px; */
  width: 12vw;
}

.logo:hover {
  background-color: #e9ecef;
  border-radius: 5px;
	font-size: 24px;
  border: solid rgb(124, 124, 124) 1px;
}

@media only screen and (max-width: 800px) {
  .logo {
    width: 26vw;
  }
  .loading {
    width: 260px;
  }
}

.open-image {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.open-image img {
  height: 50%;
  width: 50%;
  text-align: right;
}
.cursor {
  cursor: pointer;
}

.postBottomPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
  justify-content: space-evenly;
}

/* loading-emoji */

.loading-emoji {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkedin,
.github {
  text-decoration: none;
}
.linkedin {
  color: blue;
}
.github {
  color: black;
}
.grayscaleText {
  filter: grayscale(100%);
}
.infoForm h1 {
  align-content: center;
  align-items: center;
  margin: auto;
}
.headline-post-img {
  font-size: 20px;
  margin: 8px 25px 12px;
}
.post-page-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 12px;
}
.top-right-btn {
  width: 36px;
  height: 36px;
  border: solid rgb(124, 124, 124) 1px;
  margin-left: 2px;
	font-size: 22px;
	font-style: normal;
	color: black;
  border-radius: 5px;
  cursor: pointer;
}
.top-right-btn:hover {
  background-color: #e9ecef;
  border-radius: 5px;
  border: solid rgb(124, 124, 124) 1px;
}
