body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

.transform :active {
  transform: translateY(2px);
}

.none {
  text-decoration: "none";
}

.logo {
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  /* background-color: #e9ecef;
  border-radius: 5px;
  border: solid rgb(124, 124, 124) 1px; */
  width: 12vw;
}

@media only screen and (max-width: 800px) {
  .logo {
    width: 24vw;
  }

  .loading {
    width: 260px;
  }
}

.image-page {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 78vh;
  overflow: scroll;
}

/* @media (min-width: 600px) {
  .image-page {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 78vh;
  }
} */

.open-image {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.open-image img {
  height: 50%;
  width: 50%;
  text-align: right;
}

.cursor {
  cursor: pointer;
}

.postBottomPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  justify-content: space-evenly;
}

/* loading-emoji */

.loading-emoji {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.linkedin,
.github {
  text-decoration: none;
}

.linkedin {
  color: blue;
}

.github {
  color: black;
}

.grayscaleText {
  filter: grayscale(100%);
}

.infoForm h1 {
  align-content: center;
  align-items: center;
  margin: auto;
}

.headline-post-img {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  margin-bottom: 25px;
  width: 60%;
  column-gap: 25%;
}

.post-page-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.go-back-div:hover {
  color: rgb(48, 85, 232);
}

.menu-div-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  margin: auto;
  background-color: whitesmoke;
  justify-content: space-between;
}

.btn-downbar {
  margin: 3px 16px;
  cursor: pointer;
}

.profile-img-downbar {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  object-fit: cover;
}

.black-link {
  color: black;
  text-decoration: none;
}

.save-logo {
  width: 46px;
}

/* star page */

.star-container {
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.star-cards {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  gap: 1rem;
}

/* star card */

.star-card {
  display: flex;
  position: relative;
  align-items: center;
  width: 70%;
  height: 200px;
  /* border: 1px solid black; */
  margin: auto;
  background-color: rgb(241, 241, 241);
}

.star {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: larger;
}

.star-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 20px 0 70px;
}

.star-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.star-count {
  position: absolute;
  right: 15px;
}

@media (max-width: 600px) {
  .star-card {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .star-image {
    margin: auto;
    margin-top: 35px;
  }

  .star-name {
    font-size: 1rem;
    margin: 8px;
  }

  .star-count {
    position: static;
  }
}

/* button */
.margin {
  margin: 50px;
}

.button {
  position: relative;
  background-color: black;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  /* Safari */
}

.button:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px rgb(170, 170, 170);
}

.button:active:after {
  box-shadow: 0 0 0 0 rgb(175, 175, 175);
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}

.div-image {
  width: 400px;
  margin: auto;
}

@media (max-width: 600px) {
  .div-image {
    width: 280px;
  }
}

.width {
  width: 75%;
  margin: auto;
  padding: 15px;
}

.aboutGo,
.about-me {
  margin-top: 60px;
}