.restaurantsCards {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  gap: 1rem;
}
.restaurantSContainer {
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .restaurantsCards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .rightbarProfileImg {
    width: 14rem;
    height: 5rem;
    object-fit: cover;
    object-fit: contain;
    object-fit: scale-down;
    border: solid 2px rgb(167, 167, 167);
    padding: 6px;
    border-style: outset;
    position: relative;
  }
}
.restaurantSearch {
  margin-bottom: 2rem;
  height: 2rem;
  text-align: center;
}
.restaurantSContainer input {
  padding-top: 0;
}
.addRestaurantBtn {
  padding: 1rem;
  position: absolute;

  right: 0;
}
.head-div {
  margin: auto;
}
.add-btn {
  display: inline-block;
}
.add-btn:hover {
  color: rgb(48, 85, 232);
}
