.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.about-me__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about-me__title {
  margin-right: 20px;
}

.about-me__img {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
}

.about-me__text {
  text-align: center;
  margin-bottom: 20px;
  padding: 40px;
}
.about-me__text-p {
  font-size: larger;
  font-weight: bolder;
}
.about-me__links {
  display: flex;
  justify-content: space-between;
}

.about-me__link img {
  margin: 20px;
}

.about-me__link:hover {
  color: #999;
}

/* Responsive styles */
@media (max-width: 768px) {
  .about-me {
    flex-direction: column;
  }
  .about-me__header {
    flex-wrap: wrap;
  }
  .about-me__title {
    width: 100%;
    text-align: center;
  }
  .about-me__img {
    margin: 0 auto;
  }
  .about-me__links {
    width: 100%;
    justify-content: center;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation class to the element */
.about-me__text-p {
  animation: fadeIn 1s ease-in;
  animation-fill-mode: forwards;
}
