body,
.signin {
  background-color: #d3d3d3;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.register {
  text-align: center;
  position: relative;
  height: 530px;
  width: 405px;
  margin: auto;
  padding: 40px;
  background: url("../../assets/oil.jpg") no-repeat center center #505050;
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
  /* margin-top: 40px; */
}

form,
.input-div {
  margin-top: 20px;
}

.active {
  border-bottom: 2px solid #1161ed;
  font-weight: bold;
}

.nonactive {
  color: rgba(214, 211, 211, 0.66);
  font-weight: bold;
}
.nonactive:hover {
  cursor: pointer;
  color: #fff;
}
h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}

h2:first-child {
  padding-left: 0px;
}

.text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.388);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + span {
  opacity: 0.6;
}
.imgLog {
  height: 40px;
  width: 180px;
  background-color: rgba(136, 130, 130, 0.341);
  /* opacity: 0.6; */
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  margin: auto;
  margin-top: 30px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.shareOptionText {
  color: #fff;
  font-weight: bold;
}

.imgLog:hover {
  color: black;
  font-weight: bold;
  box-shadow: 8px 8px 35px -5px #e0ebe5;
  border: 2px solid gray;
}
input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
}

.signin {
  background-color: #1161ed;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.signin:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.signin:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .register {
    height: 90vh;
    width: 80vw;
    margin: auto;
  }
}
.errMsg {
  background-color: #8dade4;
}
