body,
.signin {
  background-color: #d3d3d3;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.register {
  text-align: center;

  position: relative;
  height: 560px;
  width: 405px;
  margin: auto;
  padding: 60px 60px;
  background: url("../../assets/oil.jpg") no-repeat center center #505050;
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}

form,
.input-div {
  margin-top: 20px;
}

.active {
  border-bottom: 2px solid #1161ed;
  font-weight: bold;
}

.nonactive {
  color: rgba(214, 211, 211, 0.66);
  font-weight: bold;
}
.nonactive:hover {
  cursor: pointer;
  color: #fff;
}
h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}

h2:first-child {
  padding-left: 0px;
}

.text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.388);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + span {
  opacity: 0.6;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
}

.signin {
  background-color: #1161ed;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.signin:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.signin:focus {
  outline: none;
}
